body {
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: 0.3s;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #0091b9;
    color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .maintitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 500px;
    width: 600px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #imgHolder {
    width: 587px;
    height: 1000px;
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-size: 10%;
}

 #imgHolder::before {
    content:"";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-image:url(/Users/42adel-dp-06/discovery_piscine/rush1/peace.png);
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    z-index:10;
}
#imgHolder:hover::before {
    opacity:0;
}
#imgHolder::after {
    content:"";
    background: url(/Users/42adel-dp-06/discovery_piscine/rush1/peace2.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#imgHolder2 {
  width: 1000px;
  height: 1000px;
  display: block;
  position: relative;
}

#imgHolder2::before {
  content:"";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-image:url(/Users/42adel-dp-06/discovery_piscine/rush1/just.png);
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  z-index:10;
}
#imgHolder2:hover::before {
  opacity:0;
}
#imgHolder2::after {
  content:"";
  background: url(/Users/42adel-dp-06/discovery_piscine/rush1/just2.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
